# 01: Menyertakan Prefix dan Suffix pada seluruh Kolom Data Frame"

"Enjelita Meilinda - 2373037"
# Import Modules

In [8]:
import pandas as pd
import numpy as np 

print(pd.__version__)
print(np.__version__)

2.1.4
1.26.4

Persiapan Data Frame

In [9]:
n_rows = 5 
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  8  8  4  7  4
1  8  3  8  8  1
2  2  7  8  9  1
3  6  1  2  5  1
4  9  3  6  4  2

In [10]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

In [11]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        8        8        4        7        4
1        8        3        8        8        1
2        2        7        8        9        1
3        6        1        2        5        1
4        9        3        6        4        2

Menyertakan Suffix Kolom

In [7]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        9        1        6        6        5
1        1        1        9        7        2
2        4        1        4        6        9
3        5        3        1        4        2
4        3        5        8        6        9