# 11: Melakukan seleksi kolom dan baris pada Data Frame menggunakan loc

"Enjelita Meilinda - 2373037"
# Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.1.4
1.26.4

# Persiapan Data Frame

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0   3   4  13  10  18
1   2  17  18   6  13
2   6   6   3  10   5
3  13   4   8   3  12
4  17   5  16   5   6
5   2   8  16   7  12
6   9   7  18   1  17
7   7   8   4   4  10
8  10  18   6   1   6
9  18   5   6  10  15

# Seleksi kolom dan baris menggunakan loc

In [3]:
df.loc[[0,3,4], ['B','E']]

   B   E
0  4  18
3  4  12
4  5   6

# Seleksi baris dengan kondisi

In [4]:
df.loc[df['B']>10, ['B','D','E']]

    B  D   E
1  17  6  13
8  18  1   6

# Slicing Data Frame dengan loc

In [5]:
df.loc[0:4, 'B':'D']

    B   C   D
0   4  13  10
1  17  18   6
2   6   3  10
3   4   8   3
4   5  16   5