# 30: Akses nilai variabel pada query()

"Enjelita Meilinda - 2373037"
# Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.1.4
1.26.4

# Persiapan Data Frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D  E
0  11   4   8  12  2
1  11  13   9  15  6
2   8  17   6  11  2
3  17   4  13   4  7
4  17   6  15  12  9

# Akses nilai variabel pada query()

In [3]:
df.query('A > 10')

    A   B   C   D  E
0  11   4   8  12  2
1  11  13   9  15  6
3  17   4  13   4  7
4  17   6  15  12  9

In [4]:
rerata = df['A'].mean()
rerata

12.8

In [5]:
df.query('A > @rerata')

    A  B   C   D  E
3  17  4  13   4  7
4  17  6  15  12  9