# 55: Menghitung jumlah baris menurut kriteria tertentu

# Import Modules

"2373037 - Enjelita Meilinda"

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.1.4
1.26.4

# Persiapan Data Frame

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                 columns=cols)
df

   A  B  C  D  E
0  4  7  7  2  2
1  8  7  5  1  3
2  5  6  6  2  6
3  2  3  6  7  1
4  7  7  9  3  4
5  2  3  5  1  6
6  7  9  7  6  8
7  9  5  1  2  8
8  8  2  8  4  7
9  3  1  7  8  7

# Menghitung jumlah baris menurut kriteria tertentu

In [3]:
(df['A'] < 5).sum()

4

In [4]:
(df['A'] < 5).mean()

0.4